@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PTSans-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/PTSans-Bolditalic.woff2") format("woff2");
  font-display: swap;
}

.button {
  font-family: "PT Sans";
  color: white;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

a.button {
  color: white;
  background-color: #756157;
}

.button-show {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid;
  border-color: #00000027;
}

.button-click {
  border: 2px solid;
  border-color: #000000;
}

body {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

/*Pages styles*/
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color:#000000;
}

.navigation-user .navigation-link {
  font-size: 16px;
  line-height: 20px;
}

.likes {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 100%;
  padding: 5px;
}

.heading {
  text-align: center;
}

.hero-picture {
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 120% auto;
  background-repeat: no-repeat;
}

.heading-main-text{
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtext {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}


.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.services-name {
  font-size: 24px;
  line-height: 28px;
}

.subscription {
  color: white;
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-position: center center;
}

.subscription-footer {
  color: #000000;
  background-color: #FFFFFF;
  background-image: none;
}

.navigation-link {
  font-size: 16px;
  line-height: 20px;
}

.page-footer a {
  color: #83B3D3;
  background-color: transparent;
}

address .footer-contacts-address-phone {
    font-family: "PT Sans";
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    font-style: normal;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.header-filter-style {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 150% auto;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

fieldset {
  border: transparent;
}

.product-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.type-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-rating {
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color:#FFFFFF;
  background-color: #83B3D3;
  font-weight: 700;
  text-decoration: none;
}

.pagination {
  text-align: left;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-others {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}
